<form class="form-inline">
        <input name="searchInput" class="form-control"  placeholder="Search" #searchInput="ngModel"  [(ngModel)]="searchText">
        <button class="btn btn-outline-primary"  (click)="searchText=''">X</button>
</form>
<table class="table table-sm">
        <thead>
                <th>Task</th>
                <th>Deadline</th>
                <th></th>
        </thead>
        <ng-container *ngFor="let taskList of taskArray">
                <tr class="table-dark" *ngIf ="filterCondition(taskList)">
                        <td>{{taskList.taskName}}</td>
                        <td>{{taskList.deadline}}</td>
                        <td>
                                <button class="btn btn-info" (click)="tdTaskService.populateForm(taskList)">✎</button>
                                <button class="btn btn-danger" (click)="onDelete(taskList.$key)">X</button>
                        </td>
                </tr>
        </ng-container>
</table>

<div class="alert alert-danger" *ngIf="showDeletedMessage" >Deleted successfully</div>