<div class="row">
        <div class="col-md-5">
                <!-- We will build this form using ReactiveForm based on the property "form" inside customerservice.ts  -->
                <form [formGroup]="this.tdTaskService.form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="$key"><!-- this is a primary key for each record of customer and after that we can display the active form control-->
                        <div class="form-group">
                                <label>Task</label>
                                <input formControlName="taskName" class="form-control"  [ngClass]="{'is-invalid':submitted && formControls.taskName.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">This field is required</div>

                        </div>
                        <div class="form-group">
                                <label>Deadline</label>
                                <input formControlName="deadline" class="form-control"   [ngClass]="{'is-invalid':submitted && formControls.deadline.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">This field is required</div>

                        </div>
                        <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                </form>
                <div class="alert alert-info" *ngIf="showSuccessMessage">
        			submitted successfully.
				</div>
        </div>
        <div class="col-md-7">
                <app-td-task-list></app-td-task-list>
        </div>
</div>

